<main class="form-signin w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <img class="mb-4 d-block mx-auto" src="//picsum.photos/72/57" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Sign In</h1>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "nombre@ejemplo.com", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Contraseña", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Repite la contraseña" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirmación de contraseña", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary w-100 py-2" %>
    </div>

    <%= render "devise/shared/links" %>
    
  <% end %>
</main>