<div class="text-bg-light">
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <%= link_to tag.i('', class:'bi bi-app-indicator h3 mb-0'), root_path, class:"d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" %>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'Home', root_path, class:'nav-link px-2 link-secondary' %></li>
        <li><%= link_to 'Blog', feed_path, class:'nav-link px-2 link-secondary' %></li>
        <li><%= link_to 'About', about_path, class:'nav-link px-2 link-secondary' %></li>
        <li><%= link_to 'Products', products_path, class:'nav-link px-2 link-secondary' %></li>
        <li><%= link_to 'Pricing', pricing_path, class:'nav-link px-2 link-secondary' %></li>
        <li><%= link_to 'Contact', contact_path, class:'nav-link px-2 link-secondary' %></li>
      </ul>

      <div class="col-md-3 text-end">
        <%= link_to 'Log In', new_customer_session_path, class:"btn btn-outline-primary me-2" %>
        <%= link_to 'Sign Up', new_customer_registration_path, class:"btn btn-primary" %>
      </div>
    </header>
  </div>
</div>